<p>registration-form works!</p>

<body>
    <nav class="container-fluid">
        <ul>
            <li><a href="login.html">home</a></li>
            <li><a href="student registration.html">student registration</a></li>
            <li><a href="student application.html">student application</a></li>
            <li><a href="registration form for opportunities.html">home</a></li>
            <li><a href="table of opportunities.html">table of opportunities</a></li>
            <li><a href="company dashboard.html">company dashboard</a></li>

        </ul>
    </nav>
    <center>
        <h1></h1>
        <div>
            <div class="container">
                <div class="login-box">
                    <h2></h2>
                </div>

                <table border="12">
                    <tr>
                        <td colspan="5" align="center" bgcolor="cyan">
                            <h1>
                                <font color="black">registration form for opportunities</font>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" align="center" bgcolor="sky blue">
                            <label for="company_name">company Name:</label>
                            <input type="text" id="company_name" required><br><br>
                            <label for="internship_title">Internship Title:</label>
                            <input type="email" id="internship_title" name="internship_title" required><br><br>
                            <label for="department">Department:</label>
                            <input type="text" id="department" name="department" required><br><br>
                            <label for="description">Desription:</label>
                            <textarea id="description" name="description" required></textarea><br><br>
                            <label for="deadline">Deadline:</label>
                            <input type="Date" id="deadline" name="deadline required><br><br>
            <input type=" submit " value="submit Application "></td></h1>
        </form>
    </center>
</body>